.jumbotron {
    background-image: url('images/bg.jpeg');
    background-size: cover;
    height: 100vh;
}

.jumbotron .container {
    text-align: center;
}

.navbar {
    background: rgba(0,0,0,0.5);
}
