@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-image: url('images/bg.jpeg');
    background-size: cover;
    height: 100vh;
}

.jumbotron .container {
    text-align: center;
    padding-top: 5ex;
}

.navbar {
    background: rgba(0,0,0,0.5);
}

.navbar-brand, .nav-item {
    color: white !important;
}

.row {
    margin-top: 10ex;
    margin-bottom: 10ex;
}

.headline {
    padding-top: 3ex;
}

.headline, .nav-item {
    font-family: 'Montserrat', sans-serif;
}

.news-left {
    text-align: left;
    margin-right: 3em;
    padding-bottom: 3em;
}

.news-right {
    text-align: right;
    margin-left: 3m;
    padding-bottom: 3m;
}

.news-title {
    font-weight: bold;
}

.news-left img, .news-right img {
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 160px;
    max-height: 160px;
}

.news-left img {
    float: left;
}

.news-right img {
    float: right;
}
