@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-image: url('images/bg.jpeg');
    background-size: cover;
    height: 100vh;
}

.jumbotron .container {
    text-align: center;
    padding-top: 5ex;
}

.navbar {
    background: rgba(0,0,0,0.5);
}

.navbar-brand, .nav-item {
    color: white !important;
}

.row {
    margin-top: 10ex;
    margin-bottom: 10ex;
}

.headline {
    padding-top: 3ex;
}

.headline, .nav-item {
    font-family: 'Montserrat', sans-serif;
}
